<div class="top-bar">
  <div class="top-bar__inner content" ng-if="::vm.isSidebar">
    <a class="top-bar__apply-update-btn"
       ng-if="vm.pendingUpdateCount > 0"
       ng-click="vm.onApplyPendingUpdates()"
       h-tooltip
       tooltip-direction="up"
       aria-label="Show {{vm.pendingUpdateCount}} new/updated annotation(s)">
       <svg-icon class="top-bar__apply-icon" name="'refresh'"></svg-icon>
    </a>
    <login-control
      class="login-control"
      auth="vm.auth"
      new-style="true"
      on-show-help-panel="vm.onShowHelpPanel()"
      on-login="vm.onLogin()"
      on-logout="vm.onLogout()"
      on-sign-up="vm.onSignUp()">
    </login-control>
  </div>
</div>